// ---------------------------------------------------------------------------------------------------
//  indian-red
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-indian-red: #cd5c5c;
  --ion-color-indian-red-rgb: 205,92,92;
  --ion-color-indian-red-contrast: #ffffff;
  --ion-color-indian-red-contrast-rgb: 255,255,255;
  --ion-color-indian-red-shade: #b45151;
  --ion-color-indian-red-tint: #d26c6c;
}

.ion-color-indian-red {
  --ion-color-base: var(--ion-color-indian-red);
  --ion-color-base-rgb: var(--ion-color-indian-red-rgb);
  --ion-color-contrast: var(--ion-color-indian-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-indian-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-indian-red-shade);
  --ion-color-tint: var(--ion-color-indian-red-tint);
}


// ---------------------------------------------------------------------------------------------------
//  light-coral
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-light-coral: #EE82EE;
  --ion-color-light-coral-rgb: 238,130,238;
  --ion-color-light-coral-contrast: #000000;
  --ion-color-light-coral-contrast-rgb: 0,0,0;
  --ion-color-light-coral-shade: #d172d1;
  --ion-color-light-coral-tint: #f08ff0;
}

.ion-color-light-coral {
  --ion-color-base: var(--ion-color-light-coral);
  --ion-color-base-rgb: var(--ion-color-light-coral-rgb);
  --ion-color-contrast: var(--ion-color-light-coral-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-coral-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-coral-shade);
  --ion-color-tint: var(--ion-color-light-coral-tint);
}


// ---------------------------------------------------------------------------------------------------
//  salmon
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-salmon: #FA8072;
  --ion-color-salmon-rgb: 250,128,114;
  --ion-color-salmon-contrast: #000000;
  --ion-color-salmon-contrast-rgb: 0,0,0;
  --ion-color-salmon-shade: #dc7164;
  --ion-color-salmon-tint: #fb8d80;
}

.ion-color-salmon {
  --ion-color-base: var(--ion-color-salmon);
  --ion-color-base-rgb: var(--ion-color-salmon-rgb);
  --ion-color-contrast: var(--ion-color-salmon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-salmon-contrast-rgb);
  --ion-color-shade: var(--ion-color-salmon-shade);
  --ion-color-tint: var(--ion-color-salmon-tint);
}


// ---------------------------------------------------------------------------------------------------
//  purple
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-purple: #800080;
  --ion-color-purple-rgb: 128,0,128;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255,255,255;
  --ion-color-purple-shade: #710071;
  --ion-color-purple-tint: #8d1a8d;
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}


// ---------------------------------------------------------------------------------------------------
//  medium-purple
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-medium-purple: #EE82EE;
  --ion-color-medium-purple-rgb: 238,130,238;
  --ion-color-medium-purple-contrast: #000000;
  --ion-color-medium-purple-contrast-rgb: 0,0,0;
  --ion-color-medium-purple-shade: #d172d1;
  --ion-color-medium-purple-tint: #f08ff0;
}

.ion-color-medium-purple {
  --ion-color-base: var(--ion-color-medium-purple);
  --ion-color-base-rgb: var(--ion-color-medium-purple-rgb);
  --ion-color-contrast: var(--ion-color-medium-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-medium-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-medium-purple-shade);
  --ion-color-tint: var(--ion-color-medium-purple-tint);
}


// ---------------------------------------------------------------------------------------------------
//  magenta
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-magenta: #ff00ff;
  --ion-color-magenta-rgb: 255,0,255;
  --ion-color-magenta-contrast: #ffffff;
  --ion-color-magenta-contrast-rgb: 255,255,255;
  --ion-color-magenta-shade: #e000e0;
  --ion-color-magenta-tint: #ff1aff;
}

.ion-color-magenta {
  --ion-color-base: var(--ion-color-magenta);
  --ion-color-base-rgb: var(--ion-color-magenta-rgb);
  --ion-color-contrast: var(--ion-color-magenta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-magenta-contrast-rgb);
  --ion-color-shade: var(--ion-color-magenta-shade);
  --ion-color-tint: var(--ion-color-magenta-tint);
}


// ---------------------------------------------------------------------------------------------------
//  orchid
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-orchid: #da70d6;
  --ion-color-orchid-rgb: 218,112,214;
  --ion-color-orchid-contrast: #000000;
  --ion-color-orchid-contrast-rgb: 0,0,0;
  --ion-color-orchid-shade: #c063bc;
  --ion-color-orchid-tint: #de7eda;
}

.ion-color-orchid {
  --ion-color-base: var(--ion-color-orchid);
  --ion-color-base-rgb: var(--ion-color-orchid-rgb);
  --ion-color-contrast: var(--ion-color-orchid-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orchid-contrast-rgb);
  --ion-color-shade: var(--ion-color-orchid-shade);
  --ion-color-tint: var(--ion-color-orchid-tint);
}


// ---------------------------------------------------------------------------------------------------
//  medium-orchid
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-medium-orchid: #ba55d3;
  --ion-color-medium-orchid-rgb: 186,85,211;
  --ion-color-medium-orchid-contrast: #000000;
  --ion-color-medium-orchid-contrast-rgb: 0,0,0;
  --ion-color-medium-orchid-shade: #a44bba;
  --ion-color-medium-orchid-tint: #c166d7;
}

.ion-color-medium-orchid {
  --ion-color-base: var(--ion-color-medium-orchid);
  --ion-color-base-rgb: var(--ion-color-medium-orchid-rgb);
  --ion-color-contrast: var(--ion-color-medium-orchid-contrast);
  --ion-color-contrast-rgb: var(--ion-color-medium-orchid-contrast-rgb);
  --ion-color-shade: var(--ion-color-medium-orchid-shade);
  --ion-color-tint: var(--ion-color-medium-orchid-tint);
}


// ---------------------------------------------------------------------------------------------------
//  violet
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-violet: #EE82EE;
  --ion-color-violet-rgb: 238,130,238;
  --ion-color-violet-contrast: #000000;
  --ion-color-violet-contrast-rgb: 0,0,0;
  --ion-color-violet-shade: #d172d1;
  --ion-color-violet-tint: #f08ff0;
}

.ion-color-violet {
  --ion-color-base: var(--ion-color-violet);
  --ion-color-base-rgb: var(--ion-color-violet-rgb);
  --ion-color-contrast: var(--ion-color-violet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
  --ion-color-shade: var(--ion-color-violet-shade);
  --ion-color-tint: var(--ion-color-violet-tint);
}


// ---------------------------------------------------------------------------------------------------
//  brown
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-brown: #a52a2a;
  --ion-color-brown-rgb: 165,42,42;
  --ion-color-brown-contrast: #ffffff;
  --ion-color-brown-contrast-rgb: 255,255,255;
  --ion-color-brown-shade: #912525;
  --ion-color-brown-tint: #ae3f3f;
}

.ion-color-brown {
  --ion-color-base: var(--ion-color-brown);
  --ion-color-base-rgb: var(--ion-color-brown-rgb);
  --ion-color-contrast: var(--ion-color-brown-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brown-contrast-rgb);
  --ion-color-shade: var(--ion-color-brown-shade);
  --ion-color-tint: var(--ion-color-brown-tint);
}


// ---------------------------------------------------------------------------------------------------
//  sienna
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-sienna: #a0522d;
  --ion-color-sienna-rgb: 160,82,45;
  --ion-color-sienna-contrast: #ffffff;
  --ion-color-sienna-contrast-rgb: 255,255,255;
  --ion-color-sienna-shade: #8d4828;
  --ion-color-sienna-tint: #aa6342;
}

.ion-color-sienna {
  --ion-color-base: var(--ion-color-sienna);
  --ion-color-base-rgb: var(--ion-color-sienna-rgb);
  --ion-color-contrast: var(--ion-color-sienna-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sienna-contrast-rgb);
  --ion-color-shade: var(--ion-color-sienna-shade);
  --ion-color-tint: var(--ion-color-sienna-tint);
}


// ---------------------------------------------------------------------------------------------------
//  chocolate
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-chocolate: #d2691e;
  --ion-color-chocolate-rgb: 210,105,30;
  --ion-color-chocolate-contrast: #ffffff;
  --ion-color-chocolate-contrast-rgb: 255,255,255;
  --ion-color-chocolate-shade: #b95c1a;
  --ion-color-chocolate-tint: #d77835;
}

.ion-color-chocolate {
  --ion-color-base: var(--ion-color-chocolate);
  --ion-color-base-rgb: var(--ion-color-chocolate-rgb);
  --ion-color-contrast: var(--ion-color-chocolate-contrast);
  --ion-color-contrast-rgb: var(--ion-color-chocolate-contrast-rgb);
  --ion-color-shade: var(--ion-color-chocolate-shade);
  --ion-color-tint: var(--ion-color-chocolate-tint);
}


// ---------------------------------------------------------------------------------------------------
//  lime-green
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-lime-green: #32cd32;
  --ion-color-lime-green-rgb: 50,205,50;
  --ion-color-lime-green-contrast: #000000;
  --ion-color-lime-green-contrast-rgb: 0,0,0;
  --ion-color-lime-green-shade: #2cb42c;
  --ion-color-lime-green-tint: #47d247;
}

.ion-color-lime-green {
  --ion-color-base: var(--ion-color-lime-green);
  --ion-color-base-rgb: var(--ion-color-lime-green-rgb);
  --ion-color-contrast: var(--ion-color-lime-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lime-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-lime-green-shade);
  --ion-color-tint: var(--ion-color-lime-green-tint);
}


// ---------------------------------------------------------------------------------------------------
//  dark-cyan
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-dark-cyan: #008b8b;
  --ion-color-dark-cyan-rgb: 0,139,139;
  --ion-color-dark-cyan-contrast: #ffffff;
  --ion-color-dark-cyan-contrast-rgb: 255,255,255;
  --ion-color-dark-cyan-shade: #007a7a;
  --ion-color-dark-cyan-tint: #1a9797;
}

.ion-color-dark-cyan {
  --ion-color-base: var(--ion-color-dark-cyan);
  --ion-color-base-rgb: var(--ion-color-dark-cyan-rgb);
  --ion-color-contrast: var(--ion-color-dark-cyan-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-cyan-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-cyan-shade);
  --ion-color-tint: var(--ion-color-dark-cyan-tint);
}


// ---------------------------------------------------------------------------------------------------
//  medium-spring-green
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-medium-spring-green: #00fa9a;
  --ion-color-medium-spring-green-rgb: 0,250,154;
  --ion-color-medium-spring-green-contrast: #000000;
  --ion-color-medium-spring-green-contrast-rgb: 0,0,0;
  --ion-color-medium-spring-green-shade: #00dc88;
  --ion-color-medium-spring-green-tint: #1afba4;
}

.ion-color-medium-spring-green {
  --ion-color-base: var(--ion-color-medium-spring-green);
  --ion-color-base-rgb: var(--ion-color-medium-spring-green-rgb);
  --ion-color-contrast: var(--ion-color-medium-spring-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-medium-spring-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-medium-spring-green-shade);
  --ion-color-tint: var(--ion-color-medium-spring-green-tint);
}


// ---------------------------------------------------------------------------------------------------
//  turquoise
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-turquoise: #40e0d0;
  --ion-color-turquoise-rgb: 64,224,208;
  --ion-color-turquoise-contrast: #000000;
  --ion-color-turquoise-contrast-rgb: 0,0,0;
  --ion-color-turquoise-shade: #38c5b7;
  --ion-color-turquoise-tint: #53e3d5;
}

.ion-color-turquoise {
  --ion-color-base: var(--ion-color-turquoise);
  --ion-color-base-rgb: var(--ion-color-turquoise-rgb);
  --ion-color-contrast: var(--ion-color-turquoise-contrast);
  --ion-color-contrast-rgb: var(--ion-color-turquoise-contrast-rgb);
  --ion-color-shade: var(--ion-color-turquoise-shade);
  --ion-color-tint: var(--ion-color-turquoise-tint);
}


// ---------------------------------------------------------------------------------------------------
//  steel-blue
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-steel-blue: #4682b4;
  --ion-color-steel-blue-rgb: 70,130,180;
  --ion-color-steel-blue-contrast: #ffffff;
  --ion-color-steel-blue-contrast-rgb: 255,255,255;
  --ion-color-steel-blue-shade: #3e729e;
  --ion-color-steel-blue-tint: #598fbc;
}

.ion-color-steel-blue {
  --ion-color-base: var(--ion-color-steel-blue);
  --ion-color-base-rgb: var(--ion-color-steel-blue-rgb);
  --ion-color-contrast: var(--ion-color-steel-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-steel-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-steel-blue-shade);
  --ion-color-tint: var(--ion-color-steel-blue-tint);
}


// ---------------------------------------------------------------------------------------------------
//  navy
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-navy: #000080;
  --ion-color-navy-rgb: 0,0,128;
  --ion-color-navy-contrast: #ffffff;
  --ion-color-navy-contrast-rgb: 255,255,255;
  --ion-color-navy-shade: #000071;
  --ion-color-navy-tint: #1a1a8d;
}

.ion-color-navy {
  --ion-color-base: var(--ion-color-navy);
  --ion-color-base-rgb: var(--ion-color-navy-rgb);
  --ion-color-contrast: var(--ion-color-navy-contrast);
  --ion-color-contrast-rgb: var(--ion-color-navy-contrast-rgb);
  --ion-color-shade: var(--ion-color-navy-shade);
  --ion-color-tint: var(--ion-color-navy-tint);
}


// ---------------------------------------------------------------------------------------------------
//  green
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-green: #008000;
  --ion-color-green-rgb: 0,128,0;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255,255,255;
  --ion-color-green-shade: #007100;
  --ion-color-green-tint: #1a8d1a;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}


// ---------------------------------------------------------------------------------------------------
//  light-sea-green
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-light-sea-green: #20b2aa;
  --ion-color-light-sea-green-rgb: 32,178,170;
  --ion-color-light-sea-green-contrast: #000000;
  --ion-color-light-sea-green-contrast-rgb: 0,0,0;
  --ion-color-light-sea-green-shade: #1c9d96;
  --ion-color-light-sea-green-tint: #36bab3;
}

.ion-color-light-sea-green {
  --ion-color-base: var(--ion-color-light-sea-green);
  --ion-color-base-rgb: var(--ion-color-light-sea-green-rgb);
  --ion-color-contrast: var(--ion-color-light-sea-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-sea-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-sea-green-shade);
  --ion-color-tint: var(--ion-color-light-sea-green-tint);
}


// ---------------------------------------------------------------------------------------------------
//  light-steel-desk
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-light-steel-desk: #fbfbff;
  --ion-color-light-steel-desk-rgb: 251,251,255;
  --ion-color-light-steel-desk-contrast: #000000;
  --ion-color-light-steel-desk-contrast-rgb: 0,0,0;
  --ion-color-light-steel-desk-shade: #dddde0;
  --ion-color-light-steel-desk-tint: #fbfbff;
}

.ion-color-light-steel-desk {
  --ion-color-base: var(--ion-color-light-steel-desk);
  --ion-color-base-rgb: var(--ion-color-light-steel-desk-rgb);
  --ion-color-contrast: var(--ion-color-light-steel-desk-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-steel-desk-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-steel-desk-shade);
  --ion-color-tint: var(--ion-color-light-steel-desk-tint);
}


// ---------------------------------------------------------------------------------------------------
//  dark-steel-desk
// ---------------------------------------------------------------------------------------------------

:root {
  --ion-color-dark-steel-desk: #101013;
  --ion-color-dark-steel-desk-rgb: 16,16,19;
  --ion-color-dark-steel-desk-contrast: #ffffff;
  --ion-color-dark-steel-desk-contrast-rgb: 255,255,255;
  --ion-color-dark-steel-desk-shade: #0e0e11;
  --ion-color-dark-steel-desk-tint: #28282b;}

.ion-color-dark-steel-desk {
  --ion-color-base: var(--ion-color-dark-steel-desk);
  --ion-color-base-rgb: var(--ion-color-dark-steel-desk-rgb);
  --ion-color-contrast: var(--ion-color-dark-steel-desk-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-steel-desk-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-steel-desk-shade);
  --ion-color-tint: var(--ion-color-dark-steel-desk-tint);
}

