// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ffce00;
  --ion-color-primary-rgb: 255, 206, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0b500;
  --ion-color-primary-tint: #ffd31a;

  // /** secondary **/
  // --ion-color-secondary: #454545;
  // --ion-color-secondary-rgb: 69,69,69;
  // --ion-color-secondary-contrast: #ffffff;
  // --ion-color-secondary-contrast-rgb: 255,255,255;
  // --ion-color-secondary-shade: #3d3d3d;
  // --ion-color-secondary-tint: #585858;
  --ion-color-secondary: #eeeeee;
  --ion-color-secondary-rgb: 238, 238, 238;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d1d1d1;
  --ion-color-secondary-tint: #f0f0f0;

  /** tertiary **/
  --ion-color-tertiary: #3880ff;
  --ion-color-tertiary-rgb: 56, 128, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3171e0;
  --ion-color-tertiary-tint: #4c8dff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ff9100;
  --ion-color-warning-rgb: 255, 145, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08000;
  --ion-color-warning-tint: #ff9c1a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // Colors generated via tool: https://ionicframework.com/docs/theming/advanced
  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;

  --background-text-area: #eeeeee;
  --color-text-area: #000000;

  --placeholder-color: #aaa;

  --ion-item-divider-background-color: #f2f1f6;

  --width-line: 60px;
  --margin-ine: 30px;

  // ---------------------------------------------------------------------------------------------------
  //  Colores principales
  // ---------------------------------------------------------------------------------------------------

  // header
  --header-background-color: #000000;
  --header-text-color: var(--ion-text-color);

  // text
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  // background
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --inverse-background-color: var(--ion-text-color);

  // border
  --ion-border-color: #dddddd;
  --ion-border-color-rgb: 221, 221, 221;
  --border-content-color: var(--ion-color-step-100);

  // modal
  --modal-background-color: var(--ion-background-color);

  // ---------------------------------------------------------------------------------------------------
  //  componentes
  // ---------------------------------------------------------------------------------------------------

  ion-alert .alert-button {
    color: var(--ion-color-primary-contrast) !important;
    background: var(--ion-color-primary) !important;
  }

  ion-modal ion-header {
    --ion-color-primary: var(--ion-text-color) !important;
    --background: var(ion-color-step-50) !important;
  }

  ion-menu {
    --side-max-width: 300px;
  }

  $popover-md-width: 320px;
  $popover-ios-width: 320px;
  $popover-wp-width: 320px;

  ion-popover {
    ion-backdrop {
      opacity: 0.8 !important;
    }
    ion-item {
      --background: var(--ion-color-step-50);
    }
    .popover-wrapper {
      .popover-content {
        width: 80vw;
        max-width: 500px;
      }
    }
  }

  .toast-custom-class {
    --border-style: solid;
    --border-width: 1px;
    // --border-color: var(--ion-color-primary);
    --border-color: var(--ion-color-step-300);
    --button-color: var(--ion-color-primary-tint);
    --background: var(--ion-color-step-50);
    --max-width: 400px;
    font-size: 16px;
  }

  .toast-alert-custom-class {
    --button-color: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
  }

  // ---------------------------------------------------------------------------------------------------
  //  Pick map
  // ---------------------------------------------------------------------------------------------------

  // search results
  --search-result-background-color: #ffffff;
  --search-result-color: var(--ion-text-color);

  // ---------------------------------------------------------------------------------------------------
  //  Reservar
  // ---------------------------------------------------------------------------------------------------

  --segment-color: var(--ion-background-color);

  --footer-background-animado: #d9d9d9;

  // ---------------------------------------------------------------------------------------------------
  //  Mi perfil
  // ---------------------------------------------------------------------------------------------------

  ion-content.perfil ion-item ion-input {
    --input-background-color: var(--ion-background-color) !important;
  }

  ion-header ion-menu-button.home-icon-left {
    --ion-toolbar-color: var(--ion-text-color);
    --ion-toolbar-color-activated: var(--ion-text-color);
  }

  // ---------------------------------------------------------------------------------------------------
  //  Menu
  // ---------------------------------------------------------------------------------------------------

  ion-menu.main ion-content ion-item.selected {
    --background: var(--ion-color-step-50);
  }
}

body.dark {
  // ** primary **/
  --ion-color-primary: #ffce00;
  --ion-color-primary-rgb: 255, 206, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0b500;
  --ion-color-primary-tint: #ffd31a;

  // ** secondary **/
  --ion-color-secondary: #454545;
  --ion-color-secondary-rgb: 69, 69, 69;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3d3d3d;
  --ion-color-secondary-tint: #585858;

  // ** tertiary **/
  --ion-color-tertiary: #3880ff;
  --ion-color-tertiary-rgb: 56, 128, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3171e0;
  --ion-color-tertiary-tint: #4c8dff;

  // ** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  // ** warning **/
  --ion-color-warning: #ff9100;
  --ion-color-warning-rgb: 255, 145, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08000;
  --ion-color-warning-tint: #ff9c1a;

  // ** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  // ** dark **/
  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  // ** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  // ** light **/
  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  // Colors generated via tool: https://ionicframework.com/docs/theming/themes/#stepped-colors
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --background-text-area: #000000;
  --color-text-area: #eeeeee;

  --placeholder-color: #aaa;

  --width-line: 60px;
  --margin-ine: 30px;

  /*
  * Colores para electron (Mac, Windows, Linux)
  * -------------------------------------------
  */

  // ---------------------------------------------------------------------------------------------------
  //  Colores principales
  // ---------------------------------------------------------------------------------------------------

  // header
  --header-background-color: #3e3e3e;
  --header-text-color: var(--ion-text-color);

  // text
  --ion-text-color: #fdfdfd; // 	Text color of entire app
  --ion-text-color-rgb: 253, 253, 253;

  // background
  --ion-background-color: #000000; // Background color of entire app
  --ion-background-color-rgb: 0, 0, 0;

  --inverse-background-color: var(--ion-text-color);

  // border
  --ion-border-color: #555; // Border color
  --ion-border-color-rgb: 216, 216, 216;
  --border-content-color: var(--ion-color-step-300);

  // modal
  --modal-background-color: var(--ion-color-step-100);

  // ---------------------------------------------------------------------------------------------------
  //  componentes
  // ---------------------------------------------------------------------------------------------------

  // ion-searchbar {
  // //   --background: rgba(var(--ion-background-color-rgb,0,0,0),0.07);
  // //   --color: var(--ion-background-color);
  // }

  ion-toggle {
    --background: var(--ion-color-step-300);
    --handle-background: var(--ion-color-step-800);
    --handle-background-checked: var(--ion-color-step-900);
  }

  ion-alert .alert-wrapper {
    --background: var(--ion-color-step-150) !important;
  }

  ion-alert .alert-button {
    border-top: 0.55px solid var(--ion-color-step-300) !important;
  }

  ion-alert .alert-button:first-of-type:not(:last-of-type) {
    border-right: 0.55px solid var(--ion-color-step-300) !important;
  }

  ion-list ion-card {
    --background: var(--ion-color-step-150) !important;
  }

  ion-item-divider {
    --background: var(--ion-item-divider-background-color);
  }

  ion-chip {
    background: rgba(var(--ion-color-base-rgb), 0.2);
  }

  ion-card.detail:not(.no-shadow) {
    --background: var(--ion-color-step-50);
  }
  ion-card.detail:not(.no-shadow) ion-card-header {
    --background: var(--ion-color-step-100);
  }

  ion-modal, ion-popover {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-100);
    --ion-item-background: var(--ion-color-step-100);
  }

  ion-popover {
    ion-backdrop {
      opacity: 0.8 !important;
    }
    .popover-content {
      width: 80vw;
      max-width: 500px;
    }
  }

  .toast-custom-class {
    --border-color: var(--ion-color-primary);
    --background: var(--ion-color-step-100);
  }

  .toast-alert-custom-class {
    --button-color: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
  }

  // ---------------------------------------------------------------------------------------------------
  //  Pick map
  // ---------------------------------------------------------------------------------------------------

  // search results
  --search-result-background-color: #3e3e3e;
  --search-result-color: var(--ion-text-color);

  // ---------------------------------------------------------------------------------------------------
  //  Reservar
  // ---------------------------------------------------------------------------------------------------

  --segment-color: var(--ion-background-color);

  --footer-background-animado: #393939;

  // ---------------------------------------------------------------------------------------------------
  //  Mi perfil
  // ---------------------------------------------------------------------------------------------------

  ion-content.perfil ion-item ion-input {
    --input-background-color: var(--ion-background-color) !important;
    --input-text-color: var(--ion-text-color) !important;
  }

  ion-header ion-menu-button.home-icon-left {
    --ion-toolbar-color: var(--ion-text-color);
    --ion-toolbar-color-activated: var(--ion-text-color);
  }

  // ---------------------------------------------------------------------------------------------------
  //  Menu
  // ---------------------------------------------------------------------------------------------------

  ion-menu.main ion-content ion-item.selected {
    --background: var(--ion-color-step-100);
  }
}

/*
  * iOS Dark Theme
  * -------------------------------------------
  */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

/*
  * Material Design Dark Theme
  * -------------------------------------------
  */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
