<ion-header>

  <ion-toolbar *ngIf="isModal">
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{headerText}}</ion-title>
  </ion-toolbar>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-searchbar #searchbar [(ngModel)]="match" debounce="500" placeholder="{{'buttons.search' | translate}}..."></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

</ion-header>
<ion-content>

  <ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" *ngFor="let row of rows | filter:match:list.filter | orderBy:list.orderBy">
          
          <ion-item-sliding>
            <ion-item button (click)="selectRow(row)" [detail]="!isPickRowMode" [ngClass]="{ selected: isSelected(row)}">
          
              <ion-icon *ngIf="preloading !== row.idreg" src="assets/icons/lang.svg" slot="start"></ion-icon>
              <ion-spinner *ngIf="preloading === row.idreg" name="lines-small" slot="start"></ion-spinner>
              <ion-label class="ion-text-wrap">
                <text-colorized [value]="row.nativeName" [match]="match"></text-colorized>
              </ion-label>
              <!-- <ion-icon *ngIf="row.active" [name]="row.active ? 'checkmark' : 'close'" slot="end" size="small"></ion-icon> -->
              <ion-icon *ngIf="isSelected(row)" slot="end" name="checkmark"></ion-icon>
            </ion-item>
            
            <ion-item-options side="end">
              <ion-item-option (click)="deleteRow(row)" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding> 

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="request({ event: $event })" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="{{loadingText}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>

  <ion-grid fixed>
    <ion-row>
      <ion-col>

        <ion-button (click)="selectRow('new')" color="primary" expand="block">
          <ion-icon slot="start" name="add"></ion-icon>
          {{addNewText}}
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
  