<ion-card class="detail no-shadow">
  
  <h3>{{'estadoConductor.cambiarEstado' | translate}}</h3>

  <ion-list>

    <ng-container *ngFor="let estado of estados">

      <ion-item button (click)="onClickEstadoConductor(estado)" [detail]="false" class="item-color">
        <ion-icon slot="start" [src]="estadoIcon(estado)" [color]="estadoDisponibilidadColor(estado)" size="large" ></ion-icon>
        <ion-label class="ion-text-wrap">{{estadoLabel(estado)}}</ion-label>
      </ion-item>

    </ng-container>

  </ion-list>

</ion-card>
