<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{'login.forgot_pass' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="popover.dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div class="ion-padding ion-text-center">
  <!-- <img src="assets/icons/key.svg"/> -->
  <ion-icon src="assets/icons/key.svg"></ion-icon>

  <h5>{{'login.forgot_pass' | translate}}</h5>

  <form [formGroup]="frm" (ngSubmit)="recovery(frm)" layout="layout">

    <ion-item class="ion-text-center" style="--background: var(--ion-color-step-50);">
      <ion-input #email type="email" formControlName="email" placeholder="{{'login.email' | translate}}" spellcheck="false" style="background-color: var(--ion-color-step-50);"></ion-input>
    </ion-item>

    <div class="error ion-padding-start">
      <div *ngIf="(getter('email').touched || getter('email').dirty) && getter('email').errors?.required">{{'login.email_required' | translate}}</div>
      <div *ngIf="(getter('email').touched || getter('email').dirty) && getter('email').errors?.email">{{'login.email_invalid' | translate}}</div>
    </div>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="popover.dismiss()" color="secondary" expand="block">{{'buttons.cancel' | translate | uppercase }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" [disabled]="frm.invalid" [color]="frm.valid ? 'primary' : 'secondary'" expand="block">{{'buttons.send' | translate | uppercase }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</div>