
// ---------------------------------------------------------------------------------------------------
//  NOTA: Google-Maps cambia la fuente de la aplicación.
// ---------------------------------------------------------------------------------------------------

body, .ionic-body  {
  // font-family: "-apple-system", sans-serif !important;    /* HACK! google maps downloads roboto font and blinks the view */
  font-family: sans-serif !important;    /* HACK! google maps downloads roboto font and blinks the view */
}


// ---------------------------------------------------------------------------------------------------
//  Elimina el logo de Google-Maps y los térmios del mapa.
// ---------------------------------------------------------------------------------------------------
//  NOTA: No funciona a nivell de component. Només si està adeclarat aquí, a nivell general.
// ---------------------------------------------------------------------------------------------------

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
     display: none !important;
}
.gm-bundled-control .gmnoprint {
  display: block;
}
.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
.gm-style-cc div {
  display: none !important;
}
.gm-style > * {
  background-color: var(--ion-color-step-100);
}


.gm-style .gm-style-iw-d, .gm-style .gm-style-iw-c {
  background: var(--ion-color-step-50);
  padding: 0px !important;
  overflow: hidden !important;
}

.gm-style .gm-style-iw-c {
  border: 1px solid var(--ion-color-step-400);
  
}

.gm-style .gm-style-iw-t::after {
  background: var(--ion-color-step-50);
  border-bottom: 1px solid var(--ion-color-step-400);
    border-left: 1px solid var(--ion-color-step-400);
  
}

.gm-style-iw-c button{
  display: none !important;
}