<ion-header class="shadow">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{current?.descripcion || current?.ubicacion?.descripcion || title || ('maps.select_direccion' | translate)}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="geoLocalizame()">
        <ion-icon slot="icon-only" name="compass"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <form action="onSearchSubmit()" (ngSubmit)="onSearchSubmit()">
    <ion-searchbar #searchbar *ngIf="!readOnly" [(ngModel)]="match" name="match" debounce="500"
      (ionFocus)="onSearchFocus($event)"
      (ionInput)="onSearchInput($event)"
      (ionChange)="onSearchChanged($event)"
      style="z-index: 10;"></ion-searchbar>
  </form>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

</ion-header>
<ion-content>

  <div class="results-list border-bottom shadow" *ngIf="!readOnly">
    <!-- search results -->
    <ion-list>
      <ion-item-sliding *ngFor="let direccion of searchResults; let i = index">
        <ion-item button (click)="onSearchResultSelected(direccion)" class="item-remove-animate" show-delete="true">
          <ion-icon slot="start" name="location"></ion-icon>
          <ion-label class="ion-text-wrap">
            <text-colorized [value]="direccion" [match]="match" [options]="{ distinguishWords: false }"></text-colorized>
          </ion-label>
        </ion-item>
        <ion-item-options (ionSwipe)="onSearchResultSwipe($event, i)"></ion-item-options>
      </ion-item-sliding>
    </ion-list>    
  
    <!-- clic results-->
    <ion-list *ngIf="clickResults?.direcciones?.length">
      <ion-item-divider *ngIf="clickResults?.servicios?.length || clickResults?.google?.length">{{'Mis direcciones' | translate}}</ion-item-divider>
      <ion-item-sliding *ngFor="let direccion of clickResults?.direcciones; let i = index">
        <ion-item button (click)="onClickResultSelected(direccion)" class="item-remove-animate" show-delete="true">
          <ion-icon slot="start" name="location"></ion-icon>
          <ion-label class="ion-text-wrap">
            <text-colorized [value]="direccion.direccion || direccion.ubicacion.direccion" [match]="match" [options]="{ distinguishWords: false }"></text-colorized>
          </ion-label>
        </ion-item>
        <ion-item-options (ionSwipe)="clickResults?.direcciones.splice(i, 1)"></ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="clickResults?.servicios?.length">
      <ion-item-divider *ngIf="clickResults?.direcciones?.length || clickResults?.google?.length">{{'Usadas en mis servicios' | translate}}</ion-item-divider>
      <ion-item-sliding *ngFor="let direccion of clickResults?.servicios; let i = index">
        <ion-item button (click)="onClickResultSelected(direccion)" class="item-remove-animate" show-delete="true">
          <ion-icon slot="start" name="location"></ion-icon>
          <ion-label class="ion-text-wrap">
            <text-colorized [value]="direccion.direccion || direccion.ubicacion.direccion" [match]="match" [options]="{ distinguishWords: false }"></text-colorized>
          </ion-label>
        </ion-item>
        <ion-item-options (ionSwipe)="clickResults?.servicios.splice(i, 1)"></ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="clickResults?.google?.length">
      <ion-item-divider *ngIf="clickResults?.direcciones?.length || clickResults?.servicios?.length">{{'Nuevas direcciones' | translate}}</ion-item-divider>
      <ion-item-sliding *ngFor="let direccion of clickResults?.google; let i = index">
        <ion-item button (click)="onClickResultSelected(direccion)" class="item-remove-animate" show-delete="true">
          <ion-icon slot="start" name="location"></ion-icon>
          <ion-label class="ion-text-wrap">
            <text-colorized [value]="direccion.direccion || direccion.ubicacion.direccion" [match]="match" [options]="{ distinguishWords: false }"></text-colorized>
          </ion-label>
        </ion-item>
        <ion-item-options (ionSwipe)="clickResults?.google.splice(i, 1)"></ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
  <ion-grid class="grid-split">
    <ion-row class="map-slot">
      <ion-col>

        <google-map (mapClick)="onMapClick($event)">
          <map-marker [position]="marker?.position"></map-marker>
          <map-info-window>{{current?.direccion || current?.ubicacion?.direccion || ('maps.invalid_address' | translate)}}</map-info-window>
        </google-map>
    
      </ion-col>
    </ion-row>
    <ion-row class="form-slot" [expanded]="current">
      <ion-col>
        <form [formGroup]="frm">

          <ion-item (click)="map.panTo(currentLocation)" [disabled]="searchResults?.length || clickResults">
            <ion-icon slot="start" name="bookmark"></ion-icon>
            <ion-textarea
              formControlName="descripcion" 
              (ionFocus)="onFocusForm($event)" 
              (click)="map.panTo(currentLocation)"
              [color]="isDescripcionModfied ? 'tertiary' : undefined" auto-grow="true" rows="1"
              type="text" placeholder="{{'maps.descripcion' | translate}}"
            ></ion-textarea>
          </ion-item>

          <ion-item (click)="map.panTo(currentLocation)" [disabled]="searchResults?.length || clickResults">
            <ion-icon slot="start" name="location"></ion-icon>
            <ion-textarea
              formControlName="direccion" 
              (ionFocus)="onFocusForm($event)" 
              (click)="map.panTo(currentLocation)"
              [color]="isDireccionModfied ? 'tertiary' : undefined" auto-grow="true" rows="1"
              type="text" placeholder="{{'maps.direccionCompleta' | translate}}" required
            ></ion-textarea>
          </ion-item>
    
        </form>
      </ion-col>
      <ion-col size="12">

        <ion-button type="button" (click)="dismiss(current)" [disabled]="invalid || frm.invalid || loading || searchResults?.length || clickResults" [color]="frm.valid ? 'primary' : 'secondary'" expand="block">{{'buttons.accept' | translate | uppercase }}</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
