
#map_canvas {
  // height: calc(100% - 60px);
  // border-top: 0.55px solid var(--ion-border-color);
  color: black;
  font-size: 16px;
  height: 100%;
  opacity: 1;
}

#map_canvas ion-item {
  --background: white;
  // --background: white;
  --color: #333333;
  font-size: 13px;
  // text-align: center;
  // letter-spacing: 0.5px;
  transition: all 150ms ease-out;
  // height: 0px;
  opacity: 0;
}
#map_canvas ion-item.visible {
  transition: all 250ms ease-in;
  // height: auto;
  opacity: 1;
}

// @media only screen 
// and (min-height: 600px) 
// and (min-width: 768px) {
  .modal-wrapper.sc-ion-modal-ios {
    border: 0.55px solid var(--ion-border-color) !important;
  }
// }

.info {
  border-bottom: 0.55px solid var(--ion-border-color);
}

.info span {
  // background-color: #3880ff;
  // color: white;
  color: var(--ion-text-color);
  transition: all 1.2s ease-out;
  height: 0px;
  opacity: 0;
}
.info.visible span {
  height: auto;
  opacity: 1;
}

.info span ion-icon {
  vertical-align: bottom;
  margin-right: 4px;
}

.info ion-col {
  padding: 10px;
}
.info ion-col span:not(:last-of-type) {
  margin-right: 26px;
}