<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{(title || 'maps.search_address' | translate)}}
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="geoLocalizame()">
        <ion-icon slot="icon-only" name="compass"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <form action="onSearchSubmit()" (ngSubmit)="onSearchSubmit()">
    <ion-searchbar #searchbar [(ngModel)]="match" name="match" [debounce]="searchDebounce"
      (ionChange)="onSearchChanged($event)"
      style="z-index: 10;"></ion-searchbar>
  </form>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

</ion-header>
<ion-content>

  <ion-list>
    <ion-item #ionListItem button *ngFor="let direccion of searchResults; let i = index" (click)="onSearchResultSelected(direccion)" detail="false" (ionInput)="ionItemInput($event)">
      <ion-icon slot="start" name="location"></ion-icon>
      <ion-label class="ion-text-wrap">
        <text-colorized [value]="direccion" [match]="match" [options]="{ distinguishWords: false }"></text-colorized>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
