<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="modal.dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>{{'calendars.list' | translate}}</ion-title>
  </ion-toolbar>
 
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

</ion-header>
<ion-content>

  <ion-list>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" *ngFor="let row of rows | orderBy:'name'">
          <ion-item button (click)="selectRow(row)" [detail]="false">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
                {{row.name}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>


</ion-content>