<ion-header>

  <ion-toolbar *ngIf="isModal">
    <ion-buttons slot="start">

      <ion-button (click)="modal.dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>{{headerText}}</ion-title>
  </ion-toolbar>

  <ion-grid fixed *ngIf="!isPopover" >
    <ion-row>
      <ion-col>

        <ion-searchbar #searchbar [(ngModel)]="match" debounce="500" placeholder="{{'buttons.search' | translate}}..."></ion-searchbar>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

</ion-header>
<ion-content>

  <ion-card class="detail no-shadow">
  
    <ion-grid>
      <ion-row>
        <ion-col>
    
          <h1>{{'calendarios.calendariosTittle' | translate}}</h1>
          <p>{{'calendarios.calendariosText' | translate}}</p>

        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid *ngIf="rows.length === 0">
      <ion-row class="no-line">
        <ion-col>
    
          <h2>{{'calendarios.noHayCalendarios' | translate}}</h2>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  

    <ion-grid *ngIf="rows.length > 0">
      <ion-row>
        <ion-col size="12" *ngFor="let row of rows | filter:match:list.filter | orderBy:list.orderBy">
          
            <ion-item [detail]="false" (click)="deleteRow(row)">
              <ion-icon *ngIf="preloading !== row.idreg" name="calendar" slot="start"></ion-icon>
              <ion-spinner *ngIf="preloading === row.idreg" name="lines-small" slot="start"></ion-spinner>
              <ion-label class="ion-text-wrap">
                <text-colorized [value]="row.calendario" [match]="match"></text-colorized>
              </ion-label>
              <!-- <ion-icon *ngIf="row.active" [name]="row.active ? 'checkmark' : 'close'" slot="end" size="small"></ion-icon> -->
              <ion-icon slot="icon-only" name="trash" slot="end"></ion-icon>
            </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>


</ion-content>
<ion-footer>

  <ion-grid fixed>
    <ion-row>
      <ion-col>

        <ion-button (click)="addCalendar()" color="primary" expand="block">
          <ion-icon slot="start" name="add"></ion-icon>
          {{addNewText}}
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
