<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108335236994-hsdp5unhc9t8op3nj7qovqgs0c2nkk7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108335236994-hsdp5unhc9t8op3nj7qovqgs0c2nkk7g</string>
	<key>API_KEY</key>
	<string>AIzaSyCNYReJYf9Cc7FehIwh-vXS4G_YioCVuEg</string>
	<key>GCM_SENDER_ID</key>
	<string>108335236994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.excel.text</string>
	<key>PROJECT_ID</key>
	<string>excel-test-260600</string>
	<key>STORAGE_BUCKET</key>
	<string>excel-test-260600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108335236994:ios:3e491e948e714adc67719b</string>
	<key>DATABASE_URL</key>
	<string>https://excel-test-260600.firebaseio.com</string>
</dict>
</plist>