<ion-grid #container>
  <ion-row style="align-items: center;">
    <ion-col size-xs="5" size="6" size-md="6" class="ion-text-right">
      
      <canvas #canvas baseChart
        [chartType]="chartType"
        [data]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [colors]="chartColors"
        [legend]="chartLegend"
        style="max-height: 280px; max-width: 280px; display: initial;"
      ></canvas>
      
    </ion-col>
    <ion-col size="auto">

      <ion-grid #legend class="legend">
        <ion-row *ngFor="let item of data; let i = index">
          <ion-col size="auto">
          
            <ion-text>
              <div class="color-ball" [ngStyle]="{'background-color': item.color}"></div>
              {{item.label}}
            </ion-text>
          
          </ion-col>
          <ion-col class="ion-text-right">
          
            <ion-text>{{item.display}}</ion-text>
          
          </ion-col>
        </ion-row>
        <ion-row *ngIf="resume">
          <ion-col>
          
            <ion-text>{{resume.label}}</ion-text>
          
          </ion-col>
          <ion-col class="ion-text-right">
          
            <ion-text>{{resume.display}}</ion-text>
          
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>
</ion-grid>

