// ion-card {
//   --color: var(--ion-text-color);
//   --background: transparent !important;
//   box-shadow: none;
// }

ion-card > ion-grid:first-of-type {
  max-width: 550px;
  // padding-left: 0px !important;
  // padding-right: 0px !important;
}

img {
  width: 60%;
  max-width: 120px;
  border: 0;
}

h1 {
  margin: 0px auto;
  font-size: 35px;
  color: var(--ion-color-primary);
}

.city {
  color: var(--ion-color-primary-shade);
}

.fecha ion-label {
  white-space: nowrap;
}

.fecha ion-label:first-of-type {
  margin-right: 8px;
}

.fecha ion-label:last-of-type {
  font-size: 26px !important;
}

.airport-name ion-label {
  color: var(--ion-color-medium);
}

@media (min-width: 360px) {
  .detail {
      padding-left: 0px;
      padding-right: 0px;
  }
}

@media (min-width: 720px) {
  // ion-card.detail ion-grid {
  //   padding: 8px;
  // }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  ion-chip {
    font-size: 17px;
    padding: 18px;
    border-radius: 32px;
  }
}
