ion-chip {
  height: auto;
  padding: 10px 6px 10px 22px;
}

ion-chip > ion-icon {
  margin-left: -12px;
  margin-top: -10px;
  margin-bottom: -10px;
}

ion-chip > ion-label > ion-icon {
  margin-top: 2px;
  margin-bottom: -2px;
  margin-left: 2px;
}