<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="!auth.isAuthenticated" when="(min-width: 1024px)">
    
    <ion-menu class="main" contentId="main-content" menuId="main" type="push" [disabled]="!auth.isAuthenticated">
      <ion-header>

        <ion-toolbar>
          <ion-title>{{'menu.menu' | translate}}</ion-title>
          <ion-buttons slot="end">
            
          </ion-buttons>
        </ion-toolbar>
      
      </ion-header>
      <ion-content>

        <ion-list style="margin-top: 10px;">
          
          <ion-item button (click)="navigate(['/home'])" detail="false" [ngClass]="{'selected': router.url === '/home'}" > 
            <ion-icon slot="start" [name]="router.url === '/home' ? 'home' : 'home-outline'" [ngClass]="{'selected': router.url === '/home'}"></ion-icon>
            <ion-label>{{'menu.home' | translate}}</ion-label>
          </ion-item>
          
          <ion-item button (click)="navigate(['/notificaciones/list'])" hasPermission="roles.get" detail="false" [ngClass]="{'selected': router.url === '/notificaciones/list'}">
            <ion-icon slot="start" [name]="router.url === '/notificaciones/list' ? 'notifications' : 'notifications-outline'"></ion-icon>
            <ion-label>{{'notificaciones.notificaciones' | translate}}</ion-label>
            <ion-badge *ngIf="push.unattendedCount" color="secondary">{{push.unattendedCount}}</ion-badge>
          </ion-item>

          <ion-item button (click)="navigate(['/mi-perfil'])" detail="false" [ngClass]="{'selected': router.url.startsWith('/mi-perfil')}">
            <!-- <ion-icon slot="start" src="assets/icons/avatar.svg" ></ion-icon> -->
            <ion-icon slot="start" [name]="router.url.startsWith('/mi-perfil') ? 'person-circle' : 'person-circle-outline'" ></ion-icon>
            <ion-label>{{'menu.miperfil' | translate}}</ion-label>
          </ion-item>
  
          <ion-item button (click)="navigate(['/config'])" hasPermission="menu.configuracion" detail="false" [ngClass]="{'selected': router.url === '/config'}" >
            <ion-icon slot="start" [name]="router.url === '/config' ? 'settings' : 'settings-outline'"></ion-icon>
            <ion-label>{{'menu.config' | translate}}</ion-label>
          </ion-item>
  
          
          <ion-item button (click)="navigate(['/contactar'])"  hasPermission="menu.contactar" detail="false" [ngClass]="{'selected': router.url === '/contactar'}">
            <ion-icon slot="start" src="assets/icons/contactar.svg"></ion-icon>
            <ion-label>{{'menu.contactar' | translate}}</ion-label>
          </ion-item>
          
          <ion-item button (click)="navigate(['/legal'])"  hasPermission="menu.legal" detail="false" [ngClass]="{'selected': router.url === '/legal'}">
            <ion-icon slot="start" [name]="router.url === '/legal' ? 'book' : 'book-outline'"></ion-icon>
            <ion-label>{{'legal.legal' | translate}}</ion-label>
          </ion-item>
          
          <ion-item button (click)="logout()" detail="false">
            <ion-icon slot="start" name="power"></ion-icon>
            <ion-label>{{'menu.logout' | translate}}</ion-label>
          </ion-item>
          
          <ion-item-divider  *ngIf="versionControl.device.is('electron')"></ion-item-divider>

          <ion-item  *ngIf="versionControl.device.is('electron')" button detail="false" (click)="versionControl.appQuit()">
            <ion-icon slot="start" name="exit"></ion-icon>
            <ion-label>{{'menu.appQuit' | translate}}</ion-label>
          </ion-item>
  
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-menu side="end" [swipeGesture]="canSwipeServiciosMenu" contentId="main-content" menuId="servicios" type="push" disabled="true">
      <ion-content>
        <app-menu-servicios-list></app-menu-servicios-list>
      </ion-content>
    </ion-menu>

    <ion-menu side="end" [swipeGesture]="canSwipeServicioMenu" contentId="main-content" menuId="servicio" type="push" disabled="true">
      <ion-content>
        <app-menu-servicio-detail></app-menu-servicio-detail>
      </ion-content>
    </ion-menu>

    <ion-menu side="end" [swipeGesture]="canSwipeServicioMenu" contentId="main-content" menuId="facturas" type="push" disabled="true">
      <ion-content>
        <app-menu-facturas-list></app-menu-facturas-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>

