<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-round-back" size="large" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'buttons.search' | translate}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="frm" (ngSubmit)="onSubmit(frm)">

    <ion-list>
      
      <ion-item>
        <ion-label position="floating">{{'traducciones.idioma' | translate}}</ion-label>
        <ion-select formControlName="idLang">
          <ion-select-option *ngFor="let lang of idiomas" [value]="lang.idreg">
            {{lang.nativeName}}
          </ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  
    <ion-button [disabled]="this.frm.invalid" type="submit" expand="block" padding>{{'buttons.search' | translate}}</ion-button>

  </form>

</ion-content>