ion-content {
	--padding-top: 55px;
	--padding-start: 32px;
	--padding-end: 32px;
}

ion-content h3 {
	color: var(--ion-color-primary);
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

ion-content img {
	border-radius: 10px;
}


.stretch-content {
  max-width: 500px;
}


.logo {
  width: 450px;
  max-width: 90%;
  margin-bottom: 40px;
  margin-top: 60px;
}

@media (max-width: 330px) {
  .logo {
    margin-bottom: 25px;
    margin-top: 50px;
  }
}

.ion-color-light {
  --ion-color-base: var(--ion-text-color) !important;
}

ion-select {
  min-width: 112px;
  border: 0px;
}

// ion-label {
//   padding-left: 16px;
// }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: var(--input-text-color) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-background-color) inset !important;
  box-shadow: 0 0 0px 1000px var(--input-background-color) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  color: var(--input-text-color);
}

form ion-item {
  border: 1px solid var(--ion-border-color);
  border-radius: 32px;
}

ion-item {
  // --border-radius: 8px;
  // --padding-start: 0px;
  --padding-start: 32px;
  --inner-padding-end: 0px;
  // --background: var(--input-background-color);
  // --color: var(--text-login);
  // --background-activated: var(--input-background-color);
  // --background-focused: var(--input-background-color);
  // --background-hover: var(--input-background-color);
}

// ion-item ion-input {
//   --padding-start: 20px;
// }

.error {
  margin-bottom: 16px;
}

ion-button,
ion-item {
  position: relative;
  margin-bottom: 8px;
}


ion-button {
  --secondary-color: #cccccc !important;
}

ion-button[type="submit"] {
  margin-top: 10px;
}
@media (min-width: 330px) {
  ion-button[type="submit"] {
    margin-top: 20px;
  }

}


ion-button[fill=clear] {
  height: 20px;
  --border-radius: 0px;
}
@media (min-width: 330px) {
  ion-button[fill=clear]{
    height: 44px;
  }
}

